@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Academic Management System</h1>
    <h3>Select a top menu item for managing students, course or academic records</h3>
</div>
